body {
    background-color: azure;
    margin: 10.88% 10.88%;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    background-color: rgb(201, 247, 247);
}
h1{
    font-size:xx-large;
}
img {
    border: 5px solid grey;
    size-adjust: 50%;
}

footer{ 
    display: flex;
    justify-content: center;
    background-color: rgb(201, 247, 247);
}

p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(92, 91, 91);
    font-size: medium;
}









