body {
    background-color: azure;
    margin: 10.88% 10.88%;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    background-color: rgb(201, 247, 247);
}
img {
    border: 5px solid grey;
}

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */